@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">What's In Your Food?</h1>
    <p>Most of us have no idea what half of the "ingredients" are inside our food. This application will help you decide what is good and bad for you.</p>
</div>
